<div *ngFor="let residence of filteredResidences; let i = index">
   
    <h3>{{ residence.name }}</h3>
    
    
    <p>Status: {{ residence.status }}</p>
    
   
    <button (click)="toggleAddress(i)">Show Location</button>
    <button (click)="addToFavorites(residence)">❤️ Like</button>
    <button [routerLink]="['/residence', residence.id]">Voir Détails</button>
    <button (click)="addResidence()">Add Residence</button>
    <button (click)="updateResidence()">Update Residence</button>
    <div *ngFor="let residence of residence">
      <h3>{{ residence.name }}</h3>
      <button (click)="viewApartments(residence.id)">View Apartments</button>
    </div>
    
    
   
    <ng-container [ngSwitch]="residence.status">
      <span *ngSwitchCase="'Disponible'" style="color: green;">✔ Disponible</span>
      <span *ngSwitchCase="'En Construction'" style="color: orange;">🔧 En Construction</span>
      <span *ngSwitchCase="'Vendu'" style="color: red;">❌ Vendu</span>
    </ng-container>

  </div>
  
  
  <input
    type="text"
    placeholder="Rechercher par adresse..."
    [(ngModel)]="searchTerm"
  />
  